body{
    background-color: pink;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.header_div
{
    background-color: palegoldenrod;
    color:red ;
}
.header_div p
{
    color: darkgreen;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button
{
   font-family: 'Roboto',sans-serif;
   margin-top: 30px;
   letter-spacing: 3px;
   width: 130px;
   font-weight: bolder;
}

.copy_right_footer
{
    background-color: white;
    color: maroon;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-align: center;
    text-shadow:5px 5px 5px royalblue;
}